<!-- add.html -->
{% extends "layout.html" %}
{% block title %}Add Car{% endblock %}
{% block content %}
  <h1>Add Car</h1>
  <form action="/add" method="post">
    <label for="year">Year:</label>
    <input type="text" id="year" name="year"><br><br>
    <label for="make">Make:</label>
    <input type="text" id="make" name="make"><br><br>
    <label for="color">Color:</label>
    <input type="text" id="color" name="color"><br><br>
    <input type="submit" value="Add Car">
  </form>
{% endblock %}
