<!-- cars.html -->
{% extends "layout.html" %}
{% block title %}Cars{% endblock %}
{% block content %}
  <h1>Cars</h1>
  <table border="1">
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Color</th>
      <th>id</th>
    </tr>
    {% for car in cars %}
    <tr>
      <td>{{ car[0] }}</td>
      <td>{{ car[1] }}</td>
      <td>{{ car[2] }}</td>
      <td>{{ car[3] }}
        <form action="/delete_car/{{ car[3] }}" method="post">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
